name: CI

on:
  - push

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      AWS_DEFAULT_REGION: us-west-2

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: "pip"
          cache-dependency-path: |
            requirements.txt
            api/requirements.txt

      - name: Install Dependencies
        run: |
          pip install \
            --upgrade \
            --upgrade-strategy eager \
            -r requirements.txt \
            -r api/requirements.txt

      - name: Run Tests
        run: |
          pytest

      - name: Run Linters
        uses: wearerequired/lint-action@v2
        with:
          black: true
          black_args: api cdk
          flake8: true
          flake8_args: api cdk --max-line-length=131
          isort: true
          isort_args: api cdk
